<!DOCTYPE html>
<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>klipper.cfg</title>
<meta name="generator" content="KF5::SyntaxHighlighting - Definition (Klipper Config) - Theme (Breeze Dark)"/>
</head><body style="background-color:#232629;color:#cfcfc2"><pre>
<span style="color:#3f8058;">[</span><span style="font-weight:bold;">tmc2130</span><span style="color:#f44f4f;"> stepper_x</span><span style="color:#3f8058;">]</span>
<span style="color:#2980b9;">diag1_pin</span><span style="color:#3f8058;">:</span> <span style="color:#3f8058;">^!</span><span style="color:#27ae60;">PA1</span> <span style="color:#7a7c7d;"># TMC DIAG1</span>
<span style="color:#27aeae;">driver_SGT</span><span style="color:#3f8058;">:</span> <span style="color:#3f8058;">-</span><span style="color:#f67400;">64</span>  <span style="color:#7a7c7d;"># 63</span>
<span style="color:#da4453;">gcode</span><span style="color:#3f8058;">:</span>
  <span style="color:#27ae60;">{%</span> <span style="font-weight:bold;">set</span> target  <span style="color:#3f8058;">=</span> params.BED_TEMP<span style="color:#3f8058;">|</span><span style="color:#8e44ad;">int</span> <span style="color:#27ae60;">%}</span>
  <span style="color:#27ae60;">{%</span> <span style="font-weight:bold;">set</span> current <span style="color:#3f8058;">=</span> printer.heater_bed.temperature <span style="color:#27ae60;">%}</span>

  <span style="color:#27ae60;">{%</span> <span style="color:#fdbc4b;font-weight:bold;">if</span> current <span style="color:#3f8058;">&lt;</span> target <span style="color:#3f8058;">-</span> <span style="color:#f67400;">20</span> <span style="color:#27ae60;">%}</span>
    <span style="font-weight:bold;">G4</span> <span style="color:#27aeae;">P</span><span style="color:#27ae60;">{</span> <span style="color:#f67400;">5</span> <span style="color:#3f8058;">*</span> <span style="color:#f67400;">60</span> <span style="color:#3f8058;">*</span> <span style="color:#f67400;">1000</span> <span style="color:#27ae60;">}</span>       <span style="color:#7a7c7d;">#Milliseconds to dwell</span>
  <span style="color:#27ae60;">{%</span> <span style="color:#fdbc4b;font-weight:bold;">else</span> <span style="color:#27ae60;">%}</span>
    <span style="font-weight:bold;">G4</span> <span style="color:#27aeae;">P</span><span style="color:#27ae60;">{</span> <span style="color:#f67400;">1</span> <span style="color:#3f8058;">*</span> <span style="color:#f67400;">60</span> <span style="color:#3f8058;">*</span> <span style="color:#f67400;">1000</span> <span style="color:#27ae60;">}</span>
  <span style="color:#27ae60;">{%</span> <span style="color:#fdbc4b;font-weight:bold;">endif</span> <span style="color:#27ae60;">%}</span>
  <span style="font-weight:bold;">G92</span> <span style="color:#27aeae;">E</span><span style="color:#f67400;">0</span>               <span style="color:#7a7c7d;"># Reset Extruder</span>
  <span style="font-weight:bold;">G1</span> <span style="color:#27aeae;">Z</span><span style="color:#f67400;">2.0</span> <span style="color:#27aeae;">F</span><span style="color:#f67400;">3000</span>        <span style="color:#7a7c7d;"># Move Z Axis to travel height</span>
  <span style="color:#0099ff;font-weight:bold;">ACCEPT</span>
<span style="color:#3f8058;">[</span><span style="font-weight:bold;">gcode_macro</span><span style="color:#f44f4f;"> blink_led</span><span style="color:#3f8058;">]</span> <span style="color:#7a7c7d;">; comment</span>
<span style="color:#27aeae;">description</span><span style="color:#3f8058;">:</span> Blink my_led one time
<span style="color:#da4453;">gcode</span><span style="color:#3f8058;">:</span>
  <span style="color:#0099ff;font-weight:bold;">SET_PIN</span> <span style="color:#27aeae;">PIN</span><span style="color:#3f8058;">=</span>my_led <span style="color:#27aeae;">VALUE</span><span style="color:#3f8058;">=</span><span style="color:#f67400;">1</span>
  <span style="font-weight:bold;">G4</span> <span style="color:#27aeae;">P</span><span style="color:#f67400;">2000</span>
  <span style="color:#0099ff;font-weight:bold;">SET_PIN</span> <span style="color:#27aeae;">PIN</span><span style="color:#3f8058;">=</span>my_led <span style="color:#27aeae;">VALUE</span><span style="color:#3f8058;">=</span><span style="color:#f67400;">0</span>
</pre></body></html>
