<!DOCTYPE html>
<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>test.twig</title>
<meta name="generator" content="KF5::SyntaxHighlighting - Definition (Twig (HTML)) - Theme (Breeze Dark)"/>
</head><body style="background-color:#232629;color:#cfcfc2"><pre>
<span style="color:#27ae60;">{%</span> <span style="font-weight:bold;">include</span> [<span style="color:#f44f4f;">'page_detailed.html'</span>, <span style="color:#f44f4f;">'page.html'</span>] <span style="color:#27ae60;">%}</span>
<span style="color:#7a7c7d;">{# template.html will have access to the variables from the current context and the additional ones provided #}</span>
<span style="color:#27ae60;">{%</span> <span style="font-weight:bold;">include</span> <span style="color:#f44f4f;">'template.html'</span> <span style="font-weight:bold;">with</span> {<span style="color:#f44f4f;">'foo'</span><span style="color:#3f8058;">:</span> <span style="color:#f44f4f;">'bar'</span>} <span style="color:#27ae60;">%}</span>
<span style="color:#27ae60;">{%</span> <span style="font-weight:bold;">include</span> <span style="color:#f44f4f;">'template.html'</span> <span style="font-weight:bold;">with</span> {<span style="color:#f44f4f;">'foo'</span><span style="color:#3f8058;">:</span> <span style="color:#f44f4f;">'bar'</span>} <span style="font-weight:bold;">only</span> <span style="color:#27ae60;">%}</span>

<span style="color:#27ae60;">{%</span> <span style="font-weight:bold;">set</span> vars <span style="color:#3f8058;">=</span> {<span style="color:#f44f4f;">'foo'</span><span style="color:#3f8058;">:</span> <span style="color:#f44f4f;">'bar'</span>} <span style="color:#27ae60;">%}</span>
<span style="color:#27ae60;">{%</span> <span style="font-weight:bold;">include</span> <span style="color:#f44f4f;">'template.html'</span> <span style="font-weight:bold;">with</span> vars <span style="color:#27ae60;">%}</span>

<span style="color:#27ae60;">{%</span> <span style="font-weight:bold;">include</span> <span style="color:#f44f4f;">'sidebar.html'</span> <span style="font-weight:bold;">ignore missing</span> <span style="color:#27ae60;">%}</span>
<span style="color:#27ae60;">{%</span> <span style="font-weight:bold;">include</span> <span style="color:#f44f4f;">'sidebar.html'</span> <span style="font-weight:bold;">ignore missing</span> <span style="font-weight:bold;">with</span> {<span style="color:#f44f4f;">'foo'</span><span style="color:#3f8058;">:</span> <span style="color:#f44f4f;">'bar'</span>} <span style="color:#27ae60;">%}</span>
<span style="color:#27ae60;">{%</span> <span style="font-weight:bold;">include</span> <span style="color:#f44f4f;">'sidebar.html'</span> <span style="font-weight:bold;">ignore missing</span> <span style="font-weight:bold;">only</span> <span style="color:#27ae60;">%}</span>

<span style="color:#27ae60;">{{</span> <span style="color:#8e44ad;">include</span>(<span style="color:#f44f4f;">'sidebar.html'</span>) <span style="color:#27ae60;">}}</span>

<span style="color:#27ae60;">{%</span> <span style="font-weight:bold;">import</span> <span style="color:#f44f4f;">&quot;macros.twig&quot;</span> <span style="font-weight:bold;">as</span> macros <span style="color:#27ae60;">%}</span>

<span style="color:#27ae60;">{%</span> <span style="font-weight:bold;">from</span> <span style="color:#f44f4f;">&quot;macros.twig&quot;</span> <span style="font-weight:bold;">import</span> hello <span style="color:#27ae60;">%}</span>

<span style="color:#27ae60;">{%</span> <span style="font-weight:bold;">verbatim</span> <span style="color:#27ae60;">%}</span>
<span style="color:#da4453;">    &lt;ul&gt;</span>
<span style="color:#da4453;">    {% for item in seq %}</span>
<span style="color:#da4453;">        &lt;li&gt;{{ item }}&lt;/li&gt;</span>
<span style="color:#da4453;">    {% endfor %}</span>
<span style="color:#da4453;">    &lt;/ul&gt;</span>
<span style="color:#27ae60;">{%</span> <span style="font-weight:bold;">endverbatim</span> <span style="color:#27ae60;">%}</span>

<span style="color:#2980b9;">&lt;</span><span style="font-weight:bold;">p</span><span style="color:#2980b9;">&gt;</span><span style="color:#27ae60;">{{</span> <span style="color:#27aeae;">_self</span><span style="color:#3f8058;">.</span><span style="color:#8e44ad;">input</span>(<span style="color:#f44f4f;">'password'</span>, <span style="color:#f44f4f;">''</span>, <span style="color:#f44f4f;">'password'</span>) <span style="color:#27ae60;">}}</span><span style="color:#2980b9;">&lt;/</span><span style="font-weight:bold;">p</span><span style="color:#2980b9;">&gt;</span>
<span style="color:#2980b9;">&lt;</span><span style="font-weight:bold;">p</span><span style="color:#27ae60;"> class</span><span style="color:#3f8058;">=</span><span style="color:#f44f4f;">x</span><span style="color:#27ae60;">{{</span> n <span style="color:#27ae60;">}}</span><span style="color:#2980b9;">&gt;</span>

<span style="color:#27ae60;">{%</span> <span style="font-weight:bold;">macro</span> <span style="color:#8e44ad;">input</span>(name, value, <span style="color:#2980b9;">type </span><span style="color:#3f8058;">=</span> <span style="color:#f44f4f;">&quot;text&quot;</span>, <span style="color:#2980b9;">size </span><span style="color:#3f8058;">=</span> <span style="color:#f67400;">20</span>) <span style="color:#27ae60;">%}</span>
    <span style="color:#2980b9;">&lt;</span><span style="font-weight:bold;">input</span><span style="color:#27ae60;"> type</span><span style="color:#3f8058;">=</span><span style="color:#f44f4f;">&quot;</span><span style="color:#27ae60;">{{</span> type <span style="color:#27ae60;">}}</span><span style="color:#f44f4f;">&quot;</span><span style="color:#27ae60;"> name</span><span style="color:#3f8058;">=</span><span style="color:#f44f4f;">&quot;</span><span style="color:#27ae60;">{{</span> name <span style="color:#27ae60;">}}</span><span style="color:#f44f4f;">&quot;</span><span style="color:#27ae60;"> value</span><span style="color:#3f8058;">=</span><span style="color:#f44f4f;">&quot;</span><span style="color:#27ae60;">{{</span> value<span style="color:#3f8058;">|</span><span style="color:#8e44ad;">e</span> <span style="color:#27ae60;">}}</span><span style="color:#f44f4f;">&quot;</span><span style="color:#27ae60;"> size</span><span style="color:#3f8058;">=</span><span style="color:#f44f4f;">&quot;</span><span style="color:#27ae60;">{{</span> size <span style="color:#27ae60;">}}</span><span style="color:#f44f4f;">&quot;</span><span style="color:#2980b9;">/&gt;</span>
<span style="color:#27ae60;">{%</span> <span style="font-weight:bold;">endmacro</span> <span style="color:#27ae60;">%}</span>

<span style="color:#27ae60;">{%</span> <span style="color:#fdbc4b;font-weight:bold;">if</span> macros<span style="color:#3f8058;">.</span><span style="color:#8e44ad;">hello</span> <span style="font-weight:bold;">is</span> <span style="font-weight:bold;">defined</span> <span style="color:#3f8058;">-</span><span style="color:#27ae60;">%}</span>
    OK
<span style="color:#27ae60;">{%</span> <span style="color:#fdbc4b;font-weight:bold;">endif</span> <span style="color:#27ae60;">%}</span>

<span style="color:#27ae60;">{%</span> <span style="color:#fdbc4b;font-weight:bold;">if</span> hello <span style="font-weight:bold;">is</span> <span style="font-weight:bold;">defined</span> <span style="color:#3f8058;">-</span><span style="color:#27ae60;">%}</span>
    OK
<span style="color:#27ae60;">{%</span> <span style="color:#fdbc4b;font-weight:bold;">endif</span> <span style="color:#27ae60;">%}</span>

<span style="color:#27ae60;">{%</span> <span style="font-weight:bold;">set</span> foo <span style="color:#3f8058;">=</span> <span style="color:#f44f4f;">'foo'</span> <span style="color:#27ae60;">%}</span>
<span style="color:#27ae60;">{%</span> <span style="font-weight:bold;">set</span> foo <span style="color:#3f8058;">=</span> [<span style="color:#f67400;">1</span>, <span style="color:#f67400;">2</span>] <span style="color:#27ae60;">%}</span>
<span style="color:#27ae60;">{%</span> <span style="font-weight:bold;">set</span> foo <span style="color:#3f8058;">=</span> {<span style="color:#f44f4f;">'foo'</span><span style="color:#3f8058;">:</span> <span style="color:#f44f4f;">'bar'</span>} <span style="color:#27ae60;">%}</span>

<span style="color:#27ae60;">{%</span> <span style="font-weight:bold;">apply</span> <span style="color:#8e44ad;">upper</span> <span style="color:#27ae60;">%}</span>
    This text becomes uppercase
<span style="color:#27ae60;">{%</span> <span style="font-weight:bold;">endapply</span> <span style="color:#27ae60;">%}</span>

<span style="color:#27ae60;">{%</span> <span style="font-weight:bold;">apply</span> <span style="color:#8e44ad;">lower</span><span style="color:#3f8058;">|</span><span style="color:#8e44ad;">escape</span>(<span style="color:#f44f4f;">'html'</span>) <span style="color:#27ae60;">%}</span>
    <span style="color:#2980b9;">&lt;</span><span style="font-weight:bold;">strong</span><span style="color:#2980b9;">&gt;</span>SOME TEXT<span style="color:#2980b9;">&lt;/</span><span style="font-weight:bold;">strong</span><span style="color:#2980b9;">&gt;</span>
<span style="color:#27ae60;">{%</span> <span style="font-weight:bold;">endapply</span> <span style="color:#27ae60;">%}</span>

<span style="color:#27ae60;">{{</span> list<span style="color:#3f8058;">|</span><span style="color:#8e44ad;">join</span>(<span style="color:#f44f4f;">', '</span>) <span style="color:#27ae60;">}}</span>

<span style="color:#27ae60;">{{</span> name<span style="color:#3f8058;">|</span><span style="color:#8e44ad;">striptags</span><span style="color:#3f8058;">|</span><span style="color:#8e44ad;">title</span> <span style="color:#27ae60;">}}</span>

<span style="color:#27ae60;">{%</span> <span style="color:#fdbc4b;font-weight:bold;">for</span> i <span style="font-weight:bold;">in</span> <span style="color:#f67400;">0.</span><span style="color:#3f8058;">.</span><span style="color:#f67400;">3</span> <span style="color:#27ae60;">%}</span>
    <span style="color:#27ae60;">{{</span> i <span style="color:#27ae60;">}}</span>,
<span style="color:#27ae60;">{%</span> <span style="color:#fdbc4b;font-weight:bold;">endfor</span> <span style="color:#27ae60;">%}</span>

<span style="color:#27ae60;">{%</span> <span style="color:#fdbc4b;font-weight:bold;">for</span> i <span style="font-weight:bold;">in</span> <span style="color:#8e44ad;">range</span>(<span style="color:#f67400;">0</span>, <span style="color:#f67400;">3</span>) <span style="color:#27ae60;">%}</span>
    <span style="color:#27ae60;">{{</span> i <span style="color:#27ae60;">}}</span>,
<span style="color:#27ae60;">{%</span> <span style="color:#fdbc4b;font-weight:bold;">endfor</span> <span style="color:#27ae60;">%}</span>

<span style="color:#27ae60;">{%</span> <span style="color:#fdbc4b;font-weight:bold;">for</span> i <span style="font-weight:bold;">in</span> <span style="color:#8e44ad;">range</span>(<span style="color:#2980b9;">low</span><span style="color:#3f8058;">=</span><span style="color:#f67400;">1</span>, <span style="color:#2980b9;">high</span><span style="color:#3f8058;">=</span><span style="color:#f67400;">10</span>, <span style="color:#2980b9;">step</span><span style="color:#3f8058;">=</span><span style="color:#f67400;">2</span>) <span style="color:#27ae60;">%}</span>
    <span style="color:#27ae60;">{{</span> i <span style="color:#27ae60;">}}</span>,
<span style="color:#27ae60;">{%</span> <span style="color:#fdbc4b;font-weight:bold;">endfor</span> <span style="color:#27ae60;">%}</span>

<span style="color:#27ae60;">{{</span> data<span style="color:#3f8058;">|</span><span style="color:#8e44ad;">convert_encoding</span>(<span style="color:#f44f4f;">'UTF-8'</span>, <span style="color:#f44f4f;">'iso-2022-jp'</span>) <span style="color:#27ae60;">}}</span>

<span style="color:#7a7c7d;">{# versus #}</span>

<span style="color:#27ae60;">{{</span> data<span style="color:#3f8058;">|</span><span style="color:#8e44ad;">convert_encoding</span>(<span style="color:#2980b9;">from</span><span style="color:#3f8058;">=</span><span style="color:#f44f4f;">'iso-2022-jp'</span>, <span style="color:#2980b9;">to</span><span style="color:#3f8058;">=</span><span style="color:#f44f4f;">'UTF-8'</span>) <span style="color:#27ae60;">}}</span>

<span style="color:#27ae60;">{{</span> <span style="color:#f44f4f;">&quot;now&quot;</span><span style="color:#3f8058;">|</span><span style="color:#8e44ad;">date</span>(<span style="color:#27aeae;font-weight:bold;">null</span>, <span style="color:#f44f4f;">&quot;Europe/Paris&quot;</span>) <span style="color:#27ae60;">}}</span>
<span style="color:#27ae60;">{{</span> <span style="color:#f44f4f;">&quot;now&quot;</span><span style="color:#3f8058;">|</span><span style="color:#8e44ad;">date</span>(<span style="color:#f44f4f;">'d/m/Y H:i'</span>, <span style="color:#2980b9;">timezone</span><span style="color:#3f8058;">=</span><span style="color:#f44f4f;">&quot;Europe/Paris&quot;</span>) <span style="color:#27ae60;">}}</span>


<span style="color:#2980b9;font-weight:bold;">&lt;!DOCTYPE </span>html<span style="color:#2980b9;font-weight:bold;">&gt;</span>
<span style="color:#2980b9;">&lt;</span><span style="font-weight:bold;">html</span><span style="color:#2980b9;">&gt;</span>
    <span style="color:#2980b9;">&lt;</span><span style="font-weight:bold;">head</span><span style="color:#2980b9;">&gt;</span>
        <span style="color:#27ae60;">{%</span> <span style="font-weight:bold;">block</span> head <span style="color:#27ae60;">%}</span>
            <span style="color:#2980b9;">&lt;</span><span style="font-weight:bold;">link</span><span style="color:#27ae60;"> rel</span><span style="color:#3f8058;">=</span><span style="color:#f44f4f;">&quot;stylesheet&quot;</span><span style="color:#27ae60;"> href</span><span style="color:#3f8058;">=</span><span style="color:#f44f4f;">&quot;style.css&quot;</span><span style="color:#2980b9;">/&gt;</span>
            <span style="color:#2980b9;">&lt;</span><span style="font-weight:bold;">title</span><span style="color:#2980b9;">&gt;</span><span style="color:#27ae60;">{%</span> <span style="font-weight:bold;">block</span> title <span style="color:#27ae60;">%}{%</span> <span style="font-weight:bold;">endblock</span> <span style="color:#27ae60;">%}</span> - My Webpage<span style="color:#2980b9;">&lt;/</span><span style="font-weight:bold;">title</span><span style="color:#2980b9;">&gt;</span>
        <span style="color:#27ae60;">{%</span> <span style="font-weight:bold;">endblock</span> <span style="color:#27ae60;">%}</span>
    <span style="color:#2980b9;">&lt;/</span><span style="font-weight:bold;">head</span><span style="color:#2980b9;">&gt;</span>
    <span style="color:#2980b9;">&lt;</span><span style="font-weight:bold;">body</span><span style="color:#2980b9;">&gt;</span>
        <span style="color:#2980b9;">&lt;</span><span style="font-weight:bold;">div</span><span style="color:#27ae60;"> id</span><span style="color:#3f8058;">=</span><span style="color:#f44f4f;">&quot;content&quot;</span><span style="color:#2980b9;">&gt;</span><span style="color:#27ae60;">{%</span> <span style="font-weight:bold;">block</span> content <span style="color:#27ae60;">%}{%</span> <span style="font-weight:bold;">endblock</span> <span style="color:#27ae60;">%}</span><span style="color:#2980b9;">&lt;/</span><span style="font-weight:bold;">div</span><span style="color:#2980b9;">&gt;</span>
        <span style="color:#2980b9;">&lt;</span><span style="font-weight:bold;">div</span><span style="color:#27ae60;"> id</span><span style="color:#3f8058;">=</span><span style="color:#f44f4f;">&quot;footer&quot;</span><span style="color:#2980b9;">&gt;</span>
            <span style="color:#27ae60;">{%</span> <span style="font-weight:bold;">block</span> footer <span style="color:#27ae60;">%}</span>
                <span style="color:#f67400;">&amp;copy;</span> Copyright 2011 by <span style="color:#2980b9;">&lt;</span><span style="font-weight:bold;">a</span><span style="color:#27ae60;"> href</span><span style="color:#3f8058;">=</span><span style="color:#f44f4f;">&quot;http://domain.invalid/&quot;</span><span style="color:#2980b9;">&gt;</span>you<span style="color:#2980b9;">&lt;/</span><span style="font-weight:bold;">a</span><span style="color:#2980b9;">&gt;</span>.
            <span style="color:#27ae60;">{%</span> <span style="font-weight:bold;">endblock</span> <span style="color:#27ae60;">%}</span>
        <span style="color:#2980b9;">&lt;/</span><span style="font-weight:bold;">div</span><span style="color:#2980b9;">&gt;</span>
    <span style="color:#2980b9;">&lt;/</span><span style="font-weight:bold;">body</span><span style="color:#2980b9;">&gt;</span>
<span style="color:#2980b9;">&lt;/</span><span style="font-weight:bold;">html</span><span style="color:#2980b9;">&gt;</span>


<span style="color:#27ae60;">{%</span> <span style="font-weight:bold;">extends</span> <span style="color:#f44f4f;">&quot;base.html&quot;</span> <span style="color:#27ae60;">%}</span>

<span style="color:#27ae60;">{%</span> <span style="font-weight:bold;">block</span> title <span style="color:#27ae60;">%}</span>Index<span style="color:#27ae60;">{%</span> <span style="font-weight:bold;">endblock</span> <span style="color:#27ae60;">%}</span>
<span style="color:#27ae60;">{%</span> <span style="font-weight:bold;">block</span> head <span style="color:#27ae60;">%}</span>
    <span style="color:#27ae60;">{{</span> <span style="color:#8e44ad;">parent</span>() <span style="color:#27ae60;">}}</span>
    <span style="color:#2980b9;">&lt;</span><span style="font-weight:bold;">style</span><span style="color:#27ae60;"> type</span><span style="color:#3f8058;">=</span><span style="color:#f44f4f;">&quot;text/css&quot;</span><span style="color:#2980b9;">&gt;</span>
        <span style="color:#8e44ad;">.important</span> { <span style="font-weight:bold;">color</span>: <span style="color:#27aeae;font-weight:bold;">#336699</span><span style="color:#3f8058;">;</span> }
    <span style="color:#2980b9;">&lt;/</span><span style="font-weight:bold;">style</span><span style="color:#2980b9;">&gt;</span>
<span style="color:#27ae60;">{%</span> <span style="font-weight:bold;">endblock</span> <span style="color:#27ae60;">%}</span>
<span style="color:#27ae60;">{%</span> <span style="font-weight:bold;">block</span> content <span style="color:#27ae60;">%}</span>
    <span style="color:#2980b9;">&lt;</span><span style="font-weight:bold;">h1</span><span style="color:#2980b9;">&gt;</span>Index<span style="color:#2980b9;">&lt;/</span><span style="font-weight:bold;">h1</span><span style="color:#2980b9;">&gt;</span>
    <span style="color:#2980b9;">&lt;</span><span style="font-weight:bold;">p</span><span style="color:#27ae60;"> class</span><span style="color:#3f8058;">=</span><span style="color:#f44f4f;">&quot;important&quot;</span><span style="color:#2980b9;">&gt;</span>
        Welcome to my awesome homepage.
    <span style="color:#2980b9;">&lt;/</span><span style="font-weight:bold;">p</span><span style="color:#2980b9;">&gt;</span>
<span style="color:#27ae60;">{%</span> <span style="font-weight:bold;">endblock</span> <span style="color:#27ae60;">%}</span>

<span style="color:#27ae60;">{%</span> <span style="font-weight:bold;">block</span> sidebar <span style="color:#27ae60;">%}</span>
    <span style="color:#2980b9;">&lt;</span><span style="font-weight:bold;">h3</span><span style="color:#2980b9;">&gt;</span>Table Of Contents<span style="color:#2980b9;">&lt;/</span><span style="font-weight:bold;">h3</span><span style="color:#2980b9;">&gt;</span>
    ...
    <span style="color:#27ae60;">{{</span> <span style="color:#8e44ad;">parent</span>() <span style="color:#27ae60;">}}</span>
<span style="color:#27ae60;">{%</span> <span style="font-weight:bold;">endblock</span> <span style="color:#27ae60;">%}</span>

<span style="color:#27ae60;">{%</span> <span style="font-weight:bold;">set</span> greeting <span style="color:#3f8058;">=</span> <span style="color:#f44f4f;">'Hello '</span> <span style="color:#27ae60;">%}</span>
<span style="color:#27ae60;">{%</span> <span style="font-weight:bold;">set</span> name <span style="color:#3f8058;">=</span> <span style="color:#f44f4f;">'Fabien'</span> <span style="color:#27ae60;">%}</span>

<span style="color:#27ae60;">{{</span> greeting <span style="color:#3f8058;">~</span> name<span style="color:#3f8058;">|</span><span style="color:#8e44ad;">lower</span> <span style="color:#27ae60;">}}</span>   <span style="color:#7a7c7d;">{# Hello fabien #}</span>

<span style="color:#7a7c7d;">{# use parenthesis to change precedence #}</span>
<span style="color:#27ae60;">{{</span> (greeting <span style="color:#3f8058;">~</span> name)<span style="color:#3f8058;">|</span><span style="color:#8e44ad;">lower</span> <span style="color:#27ae60;">}}</span> <span style="color:#7a7c7d;">{# hello fabien #}</span>

<span style="color:#7a7c7d;">{# keys as string #}</span>
<span style="color:#27ae60;">{{</span>{ <span style="color:#f44f4f;">'foo'</span><span style="color:#3f8058;">:</span> <span style="color:#f44f4f;">'foo'</span>, <span style="color:#f44f4f;">'bar'</span><span style="color:#3f8058;">:</span> <span style="color:#f44f4f;">'bar'</span> }<span style="color:#27ae60;">}}</span>

<span style="color:#7a7c7d;">{# keys as names (equivalent to the previous hash) #}</span>
<span style="color:#27ae60;">{{</span>{ foo<span style="color:#3f8058;">:</span> <span style="color:#f44f4f;">'foo'</span>, bar<span style="color:#3f8058;">:</span> <span style="color:#f44f4f;">'bar'</span> }<span style="color:#27ae60;">}}</span>

<span style="color:#7a7c7d;">{# keys as integer #}</span>
<span style="color:#27ae60;">{{</span>{ <span style="color:#f67400;">2</span><span style="color:#3f8058;">:</span> <span style="color:#f44f4f;">'foo'</span>, <span style="color:#f67400;">4</span><span style="color:#3f8058;">:</span> <span style="color:#f44f4f;">'bar'</span> }<span style="color:#27ae60;">}}</span>

<span style="color:#7a7c7d;">{# keys can be omitted if it is the same as the variable name #}</span>
<span style="color:#27ae60;">{{</span>{ foo }<span style="color:#27ae60;">}}</span>
<span style="color:#7a7c7d;">{# is equivalent to the following #}</span>
<span style="color:#27ae60;">{{</span>{ <span style="color:#f44f4f;">'foo'</span><span style="color:#3f8058;">:</span> foo }<span style="color:#27ae60;">}}</span>

<span style="color:#7a7c7d;">{# keys as expressions (the expression must be enclosed into parentheses) #}</span>
<span style="color:#27ae60;">{%</span> <span style="font-weight:bold;">set</span> foo <span style="color:#3f8058;">=</span> <span style="color:#f44f4f;">'foo'</span> <span style="color:#27ae60;">%}</span>
<span style="color:#27ae60;">{{</span>{ (foo)<span style="color:#3f8058;">:</span> <span style="color:#f44f4f;">'foo'</span>, (<span style="color:#f67400;">1</span> <span style="color:#3f8058;">+</span> <span style="color:#f67400;">1</span>)<span style="color:#3f8058;">:</span> <span style="color:#f44f4f;">'bar'</span>, (foo <span style="color:#3f8058;">~</span> <span style="color:#f44f4f;">'b'</span>)<span style="color:#3f8058;">:</span> <span style="color:#f44f4f;">'baz'</span> }<span style="color:#27ae60;">}}</span>

<span style="color:#27ae60;">{%</span> <span style="font-weight:bold;">apply</span> <span style="color:#8e44ad;">spaceless</span> <span style="color:#27ae60;">%}</span>
    <span style="color:#2980b9;">&lt;</span><span style="font-weight:bold;">div</span><span style="color:#2980b9;">&gt;</span>
        <span style="color:#2980b9;">&lt;</span><span style="font-weight:bold;">strong</span><span style="color:#2980b9;">&gt;</span>foo bar<span style="color:#2980b9;">&lt;/</span><span style="font-weight:bold;">strong</span><span style="color:#2980b9;">&gt;</span>
    <span style="color:#2980b9;">&lt;/</span><span style="font-weight:bold;">div</span><span style="color:#2980b9;">&gt;</span>
<span style="color:#27ae60;">{%</span> <span style="font-weight:bold;">endapply</span> <span style="color:#27ae60;">%}</span>

<span style="color:#27ae60;">{%</span> <span style="font-weight:bold;">cache</span> <span style="color:#f44f4f;">&quot;cache key&quot;</span> <span style="color:#8e44ad;">ttl</span>(<span style="color:#f67400;">300</span>) <span style="color:#27ae60;">%}</span>
    Cached for 300 seconds
<span style="color:#27ae60;">{%</span> <span style="font-weight:bold;">endcache</span> <span style="color:#27ae60;">%}</span>


<span style="color:#27ae60;">{{</span> sizes<span style="color:#3f8058;">|</span><span style="color:#8e44ad;">filter</span>(<span style="color:#2980b9;">v </span><span style="color:#3f8058;">=&gt;</span> v <span style="color:#3f8058;">&gt;</span> <span style="color:#f67400;">38</span>)<span style="color:#3f8058;">|</span><span style="color:#8e44ad;">join</span>(<span style="color:#f44f4f;">', '</span>) <span style="color:#27ae60;">}}</span>

<span style="color:#27ae60;">{{</span> <span style="color:#f67400;">34243</span> <span style="font-weight:bold;">b-xor</span> <span style="color:#f67400;">89754321</span> <span style="color:#27ae60;">}}</span>

<span style="color:#27ae60;">{%</span> <span style="font-weight:bold;">set</span> bar <span style="color:#3f8058;">=</span> <span style="color:#f44f4f;">'bar'</span> <span style="color:#27ae60;">%}</span>
<span style="color:#27ae60;">{%</span> <span style="font-weight:bold;">with</span> { foo<span style="color:#3f8058;">:</span> <span style="color:#f67400;">42</span> } <span style="font-weight:bold;">only</span> <span style="color:#27ae60;">%}</span>
    <span style="color:#7a7c7d;">{# only foo is defined #}</span>
    <span style="color:#7a7c7d;">{# bar is not defined #}</span>
<span style="color:#27ae60;">{%</span> <span style="font-weight:bold;">endwith</span> <span style="color:#27ae60;">%}</span>
</pre></body></html>
